# Local Environment settings
.env

# Quant Cache files
.financials_cache.json

# Python artifacts
__pycache__/
*.pyc

# Distribution / Build
build/
dist/
*.spec

# Output and State files
*.xlsx
.portfolio_state.json
.translation_cache.json
*.png
*.log

